:root {
  --primary-color-text: #2e2f42;
  --accent-color: #4d5ae5;
  --accent-color-secondary: #f4f4fd;
  --set-gap: 24px;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: #ffffff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
button {
  font-family: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-two {
  padding-bottom: 120px;
}
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

/* -----------Components---------- */
.section-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  line-height: 1.11;
  color: var(--primary-color-text);
}
/* ------------/Components-------------- */

/* --------Header-------- */
.page-header {
  display: flex;
  align-items: center;
  /* padding-top: 24px;
  padding-bottom: 24px; */
  border-bottom: 1px solid #e7e9fc;
}
.page-header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  /* column-gap: 76px; */
}
.menu {
  display: flex;
  gap: 40px;
}
.menu-item {
  padding: 24px 0;
}
.menu-contact {
  display: flex;
  gap: 40px;
}

.logo {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.logo-plus {
  color: var(--primary-color-text);
}

.menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color-text);
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.address-link {
  font-style: normal;
  margin-left: auto;
}
.contact-link {
  font-weight: 400;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* --------/Header-------- */

/* ---------Hero-----------*/
.hero {
  background-color: var(--primary-color-text);
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-title {
  margin-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.modal-open-hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 14px 30px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--accent-color);
}
.modal-open-hero-button:hover,
.modal-open-hero-button:focus {
  background-color: #404bbf;
}
.hero-button {
  padding: 12px 24px;
  min-width: 69px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: var(--accent-color-secondary);
}
.hero-button:hover,
.hero-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}
/* --------/Hero---------- */

/* --------SEction 1. 2. 3. Portfolio------- */
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */
.section-one-list {
  gap: var(--set-gap);
  display: flex;
}
.section-two-list {
  gap: var(--set-gap);
  display: flex;
}
.section-one-list-item {
  flex-basis: calc((100%-72px) / 4);
}
.section-two-list-item {
  flex-basis: calc((100%-72) / 3);

  /* outline: 1px solid tomato; */
}
.card-list {
  display: flex;
  gap: var(--set-gap);
}
.card {
  background-color: #ffffff;
}
.card-flex {
  flex-basis: calc((100%-72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.card-flex-content {
  padding: 32px 16px;
}
.title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--primary-color-text);
}
.sub-title {
  text-align: left;
}

.description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.card-description {
  text-align: center;
}
.our-team {
  background-color: #f4f4fd;
}
/* ------------Portfolio----------- */

.list-button-portfolio {
  display: flex;
  gap: var(--set-gap);
  margin-bottom: 72px;
  justify-content: center;
}

.list-card-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--set-gap));
  margin-top: -48px;
}
.list-card-portfolio-item {
  flex-basis: calc(100% / 3 - var(--set-gap));
  margin-left: var(--set-gap);
  margin-top: 48px;
}
.card-portfolio {
  border: 1px solid #e7e9fc;
  border-top: none;
}

.card-portfolio-content {
  padding: 32px 16px;
}
.title-card-portfolio {
  text-align: left;
}

/* .list-card-portfolio-item * {
  outline: 1px solid tomato;
} */

/* .card-flex * {
  outline: 1px solid tomato;
} */

/* --------/Section 1. 2. 3. Portfolio------- */

/* ---------Footer ----------*/
.footer-style {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--primary-color-text);
}
.logo-plus-footer {
  color: var(--accent-color-secondary);
}
.footer-desc {
  color: var(--accent-color-secondary);
  width: 264px;
  /* margin-top: 16px; */
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
/* ---------/Footer ----------*/
